.navbar {
  position: relative;
  z-index: 1;
  max-width: 590px;
  margin-left: auto;
  margin-right: auto;
}

.navbar .logo {
  display: table;
  position: absolute;
  top: 0;
  left: 1;
  height: 100px;
  display: table-cell;
  position: relative;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  font-weight: 900;
  color: black;
  text-decoration: none;
  cursor: pointer;
  user-select:none;

}

.navbar .links-container {
  display: table;
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;
}

.links-container .navbar-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  letter-spacing: 0.05rem;
  display: table-cell;
  position: relative;
  height: 100%;
  padding-right: 2rem;
  vertical-align: middle;
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;
  color: black;
  user-select:none;
}

.links-container .navbar-button {
  display: table-cell;
  position: relative;
  height: 100%;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  letter-spacing: 0.05rem;
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;
  margin-right: 1;
  text-align: center;
  border-radius: 15px;
  border: 0.13rem solid #B57170;
  padding: 10px;
  width: 70px;
  color: black;
  user-select:none;
}

.navbar .logo:hover {
    color: #71B4B5;
}

.links-container .navbar-link:hover {
    color: #71B4B5;
}

.links-container .navbar-button:hover {
    color: #71B4B5;
}

.navbar .logo:active {
    color: #71B4B5;
    font-size: 1.5rem;
}

.links-container .navbar-link:active {
    color: #71B4B5;
    font-size: 1.3rem;
}

.links-container .navbar-button:active {
    color: #71B4B5;
    font-size: 1.3rem;
}


.container {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.container h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3.7rem;
  font-weight: 900;
  text-align: center;
  margin: 0px 0px -10px 0px;
  padding-top: 60px;
}

.container h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
}

.container .wide {
  position: absolute;
  width: 100%;
  left: 0;
}

.container .wide h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
  text-align: center;
  color: white;
  font-style: italic;
  padding: 30px 20px;
  margin: 80px 0px 0px 0px;
  background-color: #71B4B5;
}

/*.wide:before {
    content:"";
    background-color:#71B4B5;
    position: absolute;
    height: 170px;
    width: 4000px;
    left: -2000px;
    z-index: -1;
} */

.container .wide h5 strong {
  font-size: 1.3rem;
}

p {
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
  margin-bottom: -2px;
  text-align: center;
}
