.navbar {
  position: relative;
  z-index: 1;
  max-width: 590px;
  margin-left: auto;
  margin-right: auto;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  html { font-size: 100%; }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  html { font-size: 90%;
    padding-left: 1em;
    padding-right: 1em;
  }
  body .container h1 {
    margin-top: -30px;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  html { font-size: 90%;
    padding-left: 1em;
    padding-right: 1em;
  }
  body .container h1 {
    margin-top: -50px;
  }
}

@media all and (max-width: 480px) {
  html { font-size: 82%;
    padding-left: 1em;
    padding-right: 1em;
  }
  body .container h1 {
    margin-top: -60px;
  }
}


.navbar .logo {
  display: table;
  position: absolute;
  top: 0;
  left: 1;
  height: 100px;
  display: table-cell;
  position: relative;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  font-weight: 900;
  color: black;
  text-decoration: none;
  cursor: pointer;
  user-select:none;
}

.navbar .links-container {
  display: table;
  position: absolute;
  top: 25px;
  right: 0;
  height: 55px;
}

.links-container .navbar-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  letter-spacing: 0.05rem;
  display: table-cell;
  position: relative;
  height: 100%;
  padding-right: 2rem;
  vertical-align: middle;
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;
  color: black;
  user-select:none;
}

.links-container .navbar-button {
  display: table-cell;
  position: relative;
  height: 100%;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  letter-spacing: 0.05rem;
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;
  margin-right: 1;
  text-align: center;
  border-radius: 15px;
  border: 0.13rem solid #B57170;
  padding: 10px;
  width: 70px;
  color: black;
  user-select:none;
}

.navbar .logo:hover {
    color: #71B4B5;
}

.links-container .navbar-link:hover {
    color: #71B4B5;
}

.links-container .navbar-button:hover {
    color: white;
    background-color: #B57170;
}

.navbar .logo:active {
    color: #71B4B5;
    font-size: 1.5rem;
}

.links-container .navbar-link:active {
    color: #71B4B5;
    font-size: 1.3rem;
}

.links-container .navbar-button:active {
    color: #71B4B5;
    font-size: 1.2rem;
}
