.container {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.container h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3.4rem;
  font-weight: 900;
  text-align: center;
  margin: 0px 0px -10px 0px;
}

.container h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
}

.container .wide {
  position: absolute;
  width: 100%;
  left: 0;
}

.container .wide h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
  text-align: center;
  color: white;
  font-style: italic;
  padding: 30px 20px;
  margin: 80px 0px 0px 0px;
  background-color: #71B4B5;
}

/*.wide:before {
    content:"";
    background-color:#71B4B5;
    position: absolute;
    height: 170px;
    width: 4000px;
    left: -2000px;
    z-index: -1;
} */

.container .wide h5 strong {
  font-size: 1.3rem;
}

p {
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
  margin-bottom: -2px;
  text-align: center;
}
